{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        ["@babel/plugin-proposal-object-rest-spread", {
            "loose": true,
            "useBuiltIns": true
        }],
        "@babel/transform-async-to-generator",
        "react-hot-loader/babel"
    ]
}